/doc/
/lib/
/obj/
*.sdf
*.suo
*.opensdf
/test_data/
*.pdb
/prj/linux_cmake_ThirdPartyLibrary_Test/build/
/prj/linux_cmake_ThirdPartyLibrary_Test/test_data
/src/glog/build/
/src/hdf5/build/
/src/leveldb/build/
/src/protobuf/cmake/build/
/src/protobuf/src/google/protobuf/
/src/openblas/
/src/snappy/

